@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

#header img {
  width: 100%;
  max-width: 5rem;
  margin-bottom: 1rem;
}

#header h1 {
  font-size: 2rem;
  margin: 0;
}

#user-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1rem;
  padding: 1rem;
  background: #1a1f1d;
  border-radius: 0.25rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#user-input label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#user-input input {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border: 1px solid #e1eeeb;
  border-radius: 0.25rem;
  background: #1a1f1d;
  color: #e1eeeb;
  font-size: 1rem;
}

#result {
  margin-top: 2rem;
  width: 35rem;

  border-radius: 0.25rem;
  overflow: hidden;
}

#result thead {
  color: #1bbe98;
  font-size: 0.8rem;
  th {
    padding: 0 0.5rem;
  }
}

#result tbody {
  font-size: 1rem;
  td {
    padding: 0.5rem 1rem;
    text-align: end;
  }
}

.center {
  text-align: center;
}

@media (max-width: 768px) {
  #user-input {
    max-width: 100%;
  }

  #result {
    width: 100%;
  }
}
